h1, h3{

	text-align: left;

}

h3{

	background-color: #6e7da2;
	color:white;
	font-size: 1em;
	margin-bottom: 0px;
	padding: 5px 5px;

}

.banner h1,h3,h5{
	text-align: center;
}


.tickets{

	width: 70%;
	margin: auto;
	padding: 10px 10px;
	border: 1px solid white;
	border-radius: 3px;
	box-shadow: 1px 1px 0.5px grey;
}

#boite{

	width: 70%;
	margin: auto;
	padding: 10px 10px;
	display: flex;
	align-content: center;
	justify-content: space-between;
}

a{
	font-size: 0.80em;
	text-decoration: none;
	color: blue;
}